body {
  margin: 0;
  background-color: #2f2e41;
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
}

#page {
  width: 1092px;
  margin: 71px auto 23px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

ul li a:hover {
  font-weight: bold;
}

main {
  margin: 101px auto;
  display: flex;
  justify-content: space-between;
}

main section {
  text-align: center;
  color: #ffffff;
  margin-left: 77px;
  width: 690px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

span {
  color: #00bfa6;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

p strong {
  font-weight: 700;
}

footer {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin: 157px auto 23px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.line {
  width: 568px;
  height: 0px;
  margin: 0 auto 27px;

  border: 1px solid #00bfa6;
}

#balls {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
